<!DOCTYPE html>
<html>
<head>
	<title>Image classification</title>
</head>
<body>
<div align="center">
<h2>upload_image</h2>

	<form action="{{ url_for('upload')}}"method="post" enctype="multipart/form-data">
            <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">


		<br>
		<div>
			 <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
		</div>
   <br>
   {{ prediction_text }}

	</form>